<ul *ngIf="user$ | async as user">
  <li class="user-id">{{user.id}}</li>
  <li class="user-first-name">{{user.firstName}}</li>
  <li class="user-last-name">{{user.lastName}}</li>
  <li class="user-gender">{{user.gender | gender}}</li>
</ul>